

<%= form_with model: @booking, url:bookings_path  do |form|%>
  <%= form.hidden_field :flight_id, value: @flight_id.to_i %>
  <% @number_passengers.to_i.times do %>
    <%= form.fields_for :passengers do |passenger_form|%>
      <h3>New Passenger</h3>
      <%= passenger_form.label :name %>
      <%= passenger_form.text_field :name %>
      <%= passenger_form.label :email %>
      <%= passenger_form.text_field :email%>

      <%# <%= passenger_form.hidden_field :booking_id, value: @booking.id%> 
    <%end%>
  <%end%>
  

  <%= form.submit "Submit"%>
<%end%>

<%= debug(params) %>
