<%= form_with model: @booking do |form|%>
  <%= form.label :start, "Date"%>
  <%= form.datetime_field :start, value: @flight.start.strftime('%Y-%m-%dT%H:%M'), readonly: true%>
  <%= form.label :departure_airport_id, "Departure Airport" %>
  <%= form.text_field :departure_airport_id, value: @flight.departure_airport_id, readonly: true%>
  <%= form.label :arrival_airport_id, "Arrival Airport" %>
  <%= form.text_field :arrival_airport_id,value: @flight.arrival_airport_id, readonly: true%>
  <%= form.label :flight_id, "Flight ID" %>
  <%= form.text_field :flight_id, value: @flight_id%>


  <% @passengers.each do |passenger|%>
    <%= fields_for passenger do |passenger_form|%>
      <h3>New Passenger</h3>
      <%= passenger_form.label :name %>
      <%= passenger_form.text_field :name %>
      <%= passenger_form.label :email %>
      <%= passenger_form.text_field :email%>
    <%end%>
  <%end%>
  

  <%= form.submit "Submit"%>
<%end%>
