
<h2>Date</h2>
<p><%=@booking.flight.start%></p>

<h2>Departure Airport</h2>
<p><%=@booking.flight.departure_airport_id%></p>

<h2>Arrival Airport</h2>
<p><%=@booking.flight.arrival_airport_id%></p>

<%@booking.passengers.each do |passenger|%>
  <h2>Name</h2>
  <p><%=passenger.name%></p>

  <h2>Email</h2>
  <p><%=passenger.email%></p>
<%end%>

<%= debug(params) %>